In [23]:
#Import dependencies
import pandas as pd 
import numpy as np
import os
import string
import math
import matplotlib
import matplotlib.pyplot as plt
print(matplotlib.__version__)

2.2.3

In [24]:
# Load in File from resources
# 'purchase_data.csv'

# Save path to data set in a variable
purchase_data_path = "Resources/purchase_data.csv"

df_purchase_data=pd.read_csv(purchase_data_path)

In [25]:
# Read and display with pandas
df_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [26]:
#
df_purchase_data.describe(include="all")

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
count,780.000000,780,780.000000,780,780.000000,780,780.000000
unique,NaN,576,NaN,3,NaN,179,NaN
top,NaN,Lisosia93,NaN,Male,NaN,Final Critic,NaN
freq,NaN,5,NaN,652,NaN,13,NaN
mean,389.500000,NaN,22.714103,NaN,92.114103,NaN,3.050987
std,225.310896,NaN,6.659444,NaN,52.775943,NaN,1.169549
min,0.000000,NaN,7.000000,NaN,0.000000,NaN,1.000000
25%,194.750000,NaN,20.000000,NaN,48.000000,NaN,1.980000
50%,389.500000,NaN,22.000000,NaN,93.000000,NaN,3.150000
75%,584.250000,NaN,25.000000,NaN,139.000000,NaN,4.080000
max,779.000000,NaN,45.000000,NaN,183.000000,NaN,4.990000

In [27]:
#Player Count
#Total Number of Players
num_unique_SN=df_purchase_data["SN"].nunique()
print("There are ",num_unique_SN, "total players.")

There are  576 total players.

In [28]:
#Purchasing Analysis(Total)
#Number of Unique Items
no_unique_items=df_purchase_data["Item ID"].nunique()
print("The number of Unique Items is", no_unique_items)

#Average Purchase Price
average_price=round(df_purchase_data["Price"].mean(),2)
print("The Average Purchase Price is ",average_price)

#Total Number of Purchases
no_purchases=df_purchase_data["Purchase ID"].count()
print("The Total Number of Purchases is ",no_purchases)

#Total Revenue
sum_price=df_purchase_data["Price"].sum()
print("The Total Revenue is ",sum_price)

The number of Unique Items is 183
The Average Purchase Price is  3.05
The Total Number of Purchases is  780
The Total Revenue is  2379.77

In [29]:
#create a dataframe to make a table of Purchasing Analysis
# Number of Unique Items	Average Price	Number of Purchases	Total Revenue

purch_df = pd.DataFrame({
    "Number of Unique Items": [no_unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [no_purchases],
    "Total Revenue":[sum_price]
})
purch_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [30]:
#Gender Demographics

#male_only=df_purchase_data.loc[df_purchase_data['Gender']=='Male'].agg(['nunique','count','size'])
#male_only

In [31]:
#Gender Demographics

    #The percentage and count of Male Players

df_male=df_purchase_data.loc[df_purchase_data["Gender"]=="Male",:]
count_males=df_male["SN"].nunique()
perc_males=round((count_males/num_unique_SN)*100,2)

print("The number of Male Players is", count_males)
print("The percentage of Players that are male is ",perc_males)


    #The percentage and count of Female Players

df_female=df_purchase_data.loc[df_purchase_data["Gender"]=="Female",:]
count_females=df_female["SN"].nunique()
perc_females=round((count_females/num_unique_SN)*100,2)

print("The number of Female Players is", count_females)
print("The percentage of players that are female is ", perc_females)

    #The percentage and count of Other/Non-Disclosed Players

#count_other=(num_unique_SN-count_females-count_males)
#perc_other=round((count_other/num_unique_SN)*100,2)

df_other=df_purchase_data.loc[df_purchase_data["Gender"]=="Other / Non-Disclosed",:]
count_other=df_other["SN"].nunique()
perc_other=round((count_other/num_unique_SN)*100,2)

print("The number of Other/Undisclosed Players is", count_other)
print("The percentage of players that are Other/Undisclosed is ", perc_other)

    #Below is what didn't work - I'd like to figure out why.

#df_purchase_data.loc[df_purchase_data['Gender']=='Male'].agg(['nunique','count','size'])

# df_other=df_purchase_data.loc[df_purchase_data["Gender"]!="Female" or["Gender"]!="Male",:]
# count_others=df_other["SN"].nunique()

#df_purchase_data.groupby(["Gender")])
#count_gender=groupedgender('SN".numunique()

#perc_gender=round((count_gender/player_count)*100,2)perc_gender))
#create a dataframe to make a table
#gender=pd.DataFrame(("Total Count":count_gender, "Percentage of Players":))

The number of Male Players is 484
The percentage of Players that are male is  84.03
The number of Female Players is 81
The percentage of players that are female is  14.06
The number of Other/Undisclosed Players is 11
The percentage of players that are Other/Undisclosed is  1.91

In [32]:
# #create a dataframe to make a table of Gender Demographics

# gender_df = pd.DataFrame({
#     "Total Players": [num_unique_SN, "100"],
#     "Female Players": [count_females,perc_females],
#     "Male Players": [count_males,perc_males],
#     "Other Players":[count_other, perc_other]
# })
# gender_df

gender_df=pd.DataFrame({
    "Gender": ["Female","Male","Other/Non-Disclosed"],
    "Total Count":[count_females, count_males, count_other],
    "Percentage of Players": [perc_females, perc_males, perc_other]
})
gender_df

                Gender  Total Count  Percentage of Players
0               Female           81                  14.06
1                 Male          484                  84.03
2  Other/Non-Disclosed           11                   1.91

In [33]:
#Trying this using groupby but failing

df_purchase_data.groupby("Gender")
#count_gender=groupedgender('SN".numunique()

In [34]:
#Purchasing Analysis by Gender

#Purchase Count by Gender
#Females
fem_num_purchases=df_female["Purchase ID"].count()
print("The Total Number of Purchases for females is ",fem_num_purchases)
#Males
male_num_purchases=df_male["Purchase ID"].count()
print("The Total Number of Purchases for males is ",male_num_purchases)
#Other
other_num_purchases=df_other["Purchase ID"].count()
print("The Total Number of Purchases for other is ",other_num_purchases)

#Average Purchase Price by Gender
#Females
f_average_price=round(df_female["Price"].mean(),2)
print("The Average Purchase Price for females is ",f_average_price)
#Males
m_average_price=round(df_male["Price"].mean(),2)
print("The Average Purchase Price for males is ",m_average_price)
#Other
o_average_price=round(df_other["Price"].mean(),2)
print("The Average Purchase Price for other is ",o_average_price)

#Total Purchase Price by Gender
#Females
f_sum_price=df_female["Price"].sum()
print("The Total Value of Purchases for females is ",f_sum_price)
#Males
m_sum_price=df_male["Price"].sum()
print("The Total Value of Purchases for males is ",m_sum_price)
#Other
o_sum_price=df_other["Price"].sum()
print("The Total Value of Purchases for other is ",o_sum_price)

#Average Purchase Total per Person by Gender
#females
f_avg_purch=round(f_sum_price/count_females,2)
print("The Average Purchase Total per Person for Females is ",f_avg_purch)
#males
m_avg_purch=round(m_sum_price/count_males,2)
print("The Average Purchase Total per Person for Males is ",m_avg_purch)
#other
o_avg_purch=round(o_sum_price/count_other,2)
print("The Average Purchase Total per Person for Other is ",o_avg_purch)

The Total Number of Purchases for females is  113
The Total Number of Purchases for males is  652
The Total Number of Purchases for other is  15
The Average Purchase Price for females is  3.2
The Average Purchase Price for males is  3.02
The Average Purchase Price for other is  3.35
The Total Value of Purchases for females is  361.94
The Total Value of Purchases for males is  1967.64
The Total Value of Purchases for other is  50.19
The Average Purchase Total per Person for Females is  4.47
The Average Purchase Total per Person for Males is  4.07
The Average Purchase Total per Person for Other is  4.56

In [35]:
#	Average Purchase Price		

purch_gender_df=pd.DataFrame({
    "Gender": ["Female","Male","Other/Non-Disclosed"],
    "Purchase Count": [fem_num_purchases, male_num_purchases, other_num_purchases],
    "Average Purchase Price": [f_average_price, m_average_price, o_average_price],
    "Total Purchase Value":[f_sum_price, m_sum_price, o_sum_price],
    "Avg Total Purchase per Person":[f_avg_purch, m_avg_purch, o_avg_purch],
})
purch_gender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.20,361.94,4.47
1,Male,652,3.02,1967.64,4.07
2,Other/Non-Disclosed,15,3.35,50.19,4.56

In [60]:
#Print min
#print(df_purchase_data["Age"]).min()
min_age=df_purchase_data["Age"].min()
print(min_age)
      
#Print max
max_age=df_purchase_data["Age"].max()
print(max_age)

7
45

In [36]:
#Age Demographics
bins = [0, 10, 15,20,25,30,35,40,45]

# Create the names for the four bins
group_names = ["10 and under", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44"]

df_purchase_data["Age Range"] = pd.cut(df_purchase_data["Age"], bins, labels=group_names)
df_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [75]:
#Purchase Count by Age Group
age_group_count=age_group_df['Age Range'].count()
age_group_count

Age Range
10 and under     32
10-14            54
15-19           200
20-24           325
25-29            77
30-34            52
35-39            33
40-44             7
Name: Age Range, dtype: int64

In [78]:
#Average Purchase Price by Age Group
age_group_df = df_purchase_data.groupby("Age Range")

avg_price_by_age=round(age_group_df["Price"].mean(),2)
avg_price_by_age

Age Range
10 and under    3.40
10-14           2.90
15-19           3.11
20-24           3.02
25-29           2.88
30-34           2.99
35-39           3.40
40-44           3.08
Name: Price, dtype: float64

In [88]:
#Total Purchase Value by Age Group
age_group_price_sum=age_group_df['Price'].sum()
age_group_price_sum

Age Range
10 and under    108.96
10-14           156.60
15-19           621.56
20-24           981.64
25-29           221.42
30-34           155.71
35-39           112.35
40-44            21.53
Name: Price, dtype: float64

In [85]:
#Average Purchase Total per Person by Age Group
age_group_total_per_person=age_group_price_sum/age_group_count
age_group_total_per_person

Age Range
10 and under    3.405000
10-14           2.900000
15-19           3.107800
20-24           3.020431
25-29           2.875584
30-34           2.994423
35-39           3.404545
40-44           3.075714
dtype: float64

In [89]:
#print age_group_df["Price"].agg(np.mean)
#print age_group_df.get_group("Price")

In [83]:
#summary dataframe
age_df=pd.DataFrame({
    "Age Groups":["10 and under", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44"],
    "Purchase Count": [age_group_count],
    "Average Purchase Price": [age_group_total_per_person],
    "Total Purchase Value":[age_group_price_sum],
    "Avg Total Purchase per Person":[age_group_total_per_person],
})
age_df

ValueError: arrays must all be same length